body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
}

.navbar-text {
    color: var(--text-color);
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2rem;
}

.navbar-text:hover {
    color: var(--text-color-darker);
}

.navbar-icon {
    color: var(--text-color);
    font-size: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    }
    
.footer-hr {
    color: var(--text-color);
    }
    
a {
    color: var(--text-color);
}

a:hover {
    color: var(--text-color-darker);
}

.subtitle {
    color: var(--text-color-darker);
}